*
  font-family: 'Space Mono', monospace  
  box-sizing: border-box
  color: #000

body
  padding: 0px
  margin: 0px  
  background-image: $bg-image
 
.header
  background-color: $white
  padding: 20px
  +position(absolute, 50% null null 50%)
  transform: translate(-50%, -50%)
  box-shadow: $default-box-shadow
  text-align: center

.fa
  font-size: 20px 
  color: black 

.social
  margin: 5% auto
  &__item
    display: inline-block
    margin-right: 20px

.logo
  font-size: 20px
  margin-bottom: 20px
  margin-left: 0px
  &__title
    padding: 0
    margin: 0
  &__subtitle
    font-size: 12px
    margin: 0
    padding: 0